<div class="container">
    <div class="ui-g">
        <form autocomplete="off" (ngSubmit)="consultar()">
        <div class="ui-g-12">
          <h1>Movimiento</h1>
        </div>

        <div class="ui-g-12 ui-fluid">
          <label>Descripción</label>
          <input type="text" name='descripcion' pInputText [(ngModel)]='filtroMov.descripcion'>
        </div>

        <div class="ui-g-12">
          <label style="display:block">Vencimiento</label>
          <p-calendar dateFormat="dd/M/yy"
            [readonlyInput]="false" showIcon="true"
            [inline]="false"
            [inputStyle]="{width: '95px'}"
            name="fechaVencimientoDe" [(ngModel)]='filtroMov.fechaVencimientoDe'>
          </p-calendar>

          <label>Hasta</label>
          <p-calendar dateFormat="dd/M/yy"
            [readonlyInput]="false" showIcon="true" [inline]="false"
            [inputStyle]="{width: '95px'}"
            name="fechaVencimientoHasta" [(ngModel)]='filtroMov.fechaVencimientoHasta'></p-calendar>
        </div>
        <div class="ui-g-12">
            <button pButton type="submit" label="Buscar" ></button>
        </div>
      </form>
    </div>

    <div class="ui-g">
      <div class="ui-g-12">
          <!--app-movimientos-lista [listaMovimientos]="movimientos"></app-movimientos-lista-->
          <div clas="container">
              <p-table [value]="movimientos"
                [responsive]="true"
                [paginator]="true"
                [rows]="filtroMov.registrosPorPagina"
                [lazy]="true"
                [totalRecords]="totalRegistros"
                (onLazyLoad)="alCambiarPagina($event)" #tablaMov>
                  <ng-template pTemplate="emptymessage">
                      Ningun movimiento encontrado
                  </ng-template>
                  <ng-template pTemplate="header">
                      <tr>
                          <th>Persona</th>
                          <th>Tipo</th>
                          <th>Descripción</th>
                          <th class="col-data-header">Fecha Vencimiento</th>
                          <th class="col-data-header">Fecha de Pago</th>
                          <th class="col-valor-header">Valor</th>
                          <th class="col-actions-header"></th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-mov>
                      <tr>
                          <td>{{mov.persona}}</td>
                          <td>{{mov.tipo}}</td>
                          <td>{{mov.descripcion}}</td>
                          <td class="col-data-content">{{mov.fechaVencimiento | date:'dd/MMM/yy'}}</td>
                          <td class="col-data-content">{{mov.fechaPago | date:'dd/MMM/yy'}}</td>
                          <td class="col-valor-content">
                              <span [style.color]="mov.tipo=='GASTO' ? 'red' : 'blue'">
                                  {{mov.valor | currency:'EUR':'€' }}
                              </span>
                          </td>
                          <td class="col-actions-content">
                              <a pButton icon="pi pi-pencil"
                                pTooltip="Editar"
                                tooltipPosition="top"
                                [routerLink]="['/movimientos', mov.codigo]"></a>

                              <button pButton icon="pi pi-trash"
                              pTooltip="Eliminar"
                              tooltipPosition="bottom"
                              (click)="confirmarEliminar(mov)"></button>
                          </td>
                      </tr>
                  </ng-template>
              </p-table>
            </div>
      </div>

      <div class="ui-g-12">
        <a pButton label="Nuevo Movimiento" [routerLink]="['/movimientos/nuevo']"></a>
      </div>

    </div>
  </div>
