<nav class="barranav">
  <div class="container">
    <div class="ui-g">
      <div class="ui-g-12">
          <a href="javascript:;" [hidden]="!muestraBarraNavegacion" class="barranav-toggle" (click)="mostrandoMenu = !mostrandoMenu"><i class="pi pi-bars"> </i></a>

          <!--a href="javascript:;" [hidden]="false" (click)="renovarAccessToken()"><i class="pi pi-refresh"></i></a-->
      </div>
    </div>
  </div>

  <ul class="barranav-menu" [hidden]="!mostrandoMenu || !muestraBarraNavegacion">
    <li class="barranav-usuario">{{ authService.jwtPayload?.usuario_nombre }}</li>
    <li class="barranav-menuitem" [routerLinkActive]="['activo']" *ngIf="authService.tienePermiso('ROLE_PESQUISAR_LANCAMENTO')"><a [routerLink]="['/movimientos']">Movimientos</a></li>
    <li class="barranav-menuitem" routerLinkActive="activo" *ngIf="authService.tienePermiso('ROLE_PESQUISAR_PESSOA')"><a routerLink="/personas">Personas</a></li>
    <li class="barranav-menuitem" routerLinkActive="activo"><a routerLink="/login">Logout</a></li>
  </ul>

</nav>
