<nav class="barranav">
  <div class="container">
    <div class="ui-g">
      <div class="ui-g-12">
          <a href="javascript:;" [hidden]="!muestraBarraNavegacion" class="barranav-toggle" (click)="mostrandoMenu = !mostrandoMenu"><i class="pi pi-bars"> </i></a>
      </div>
    </div>
  </div>

  <ul class="barranav-menu" [hidden]="!mostrandoMenu">
    <li class="barranav-usuario">LarosProject</li>
    <li class="barranav-menuitem" [routerLinkActive]="['activo']"><a [routerLink]="['/movimientos']">Movimientos</a></li>
    <li class="barranav-menuitem" routerLinkActive="activo"><a routerLink="/personas">Personas</a></li>
    <li class="barranav-menuitem" routerLinkActive="activo"><a routerLink="/login">Logout</a></li>
  </ul>

</nav>
