<div class="container">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Persona</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Nombre</label>
        <input type="text" pInputText>
      </div>

      <div class="ui-g-12">
          <button pButton type="submit" label="Buscar" ></button>
      </div>
    </div>

    <div class="ui-g">
      <div class="ui-g-12">
          <app-personas-lista [listaPersonas]="personas"></app-personas-lista>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Nueva Persona" ></button>
      </div>

    </div>
  </div>
