<app-barra-nav></app-barra-nav>

<app-lanzamiento-registro></app-lanzamiento-registro>
<app-lanzamientos-busqueda></app-lanzamientos-busqueda>

<app-personas-registro></app-personas-registro>
<app-personas-busqueda></app-personas-busqueda>

<!--Mensajes-->
<ng2-toasty></ng2-toasty>
<!--Dialogo de Confirmación-->
<p-confirmDialog #confirmDialog header="Confirmación" icon="pi pi-exclamation-triangle">
  <p-footer>
    <button type="button" pButton icon="pi pi-times" label="No" (click)="confirmDialog.reject()"></button>
    <button type="button" pButton icon="pi pi-check" label="Si" (click)="confirmDialog.accept()"></button>
</p-footer>
</p-confirmDialog>
