<div class="container">

    <form autocomplete="off" #instFormPersona="ngForm" (ngSubmit)="guardar(instFormPersona)">

    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Nueva Persona</h1>
      </div>
      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Documento</label>
        <input pInputText type="text" name="documento"
          [(ngModel)]="persona.documento" #instDocumento="ngModel" required minlength="5">

        <app-mensajes-validacion [control]="instDocumento" error="required" texto="Informe un Documento."></app-mensajes-validacion>
        <app-mensajes-validacion [control]="instDocumento" error="minlength" texto="Mínimo de {{instDocumento.errors?.minlength?.requiredLength}} caracteres."></app-mensajes-validacion>
      </div>
      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Nombre</label>
        <input pInputText type="text" name="nombre"
          [(ngModel)]="persona.nombre" #instNombre="ngModel" required minlength="5">

        <app-mensajes-validacion [control]="instNombre" error="required" texto="Informe un Nombre."></app-mensajes-validacion>
        <app-mensajes-validacion [control]="instNombre" error="minlength" texto="Mínimo de {{instNombre.errors?.minlength?.requiredLength}} caracteres."></app-mensajes-validacion>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Apellido 1</label>
        <input pInputText type="text" name="apellido1"
          [(ngModel)]="persona.apellido1" #instApellido1="ngModel" required minlength="5">

        <app-mensajes-validacion [control]="instApellido1" error="required" texto="Informe un Apellido."></app-mensajes-validacion>
        <app-mensajes-validacion [control]="instApellido1" error="minlength" texto="Mínimo de {{instApellido1.errors?.minlength?.requiredLength}} caracteres."></app-mensajes-validacion>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Apellido 2</label>
        <input pInputText type="text" name="apellido2"
          [(ngModel)]="persona.apellido2" #instApellido2="ngModel" minlength="5">

        <app-mensajes-validacion [control]="instApellido2" error="minlength" texto="Mínimo de {{instApellido2.errors?.minlength?.requiredLength}} caracteres."></app-mensajes-validacion>
      </div>
      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>Tipo</label>
        <input pInputText type="text" name="tipo"
          [(ngModel)]="persona.direccion.tipo" #instTipo="ngModel" required>
        <app-mensajes-validacion [control]="instTipo" error="required" texto="Informe un Tipo."></app-mensajes-validacion>
      </div>
      <div class="ui-g-12 ui-md-7 ui-fluid">
        <label>Calle</label>
        <input pInputText type="text" name="calle"
          [(ngModel)]="persona.direccion.calle" #instCalle="ngModel" required>
        <app-mensajes-validacion [control]="instCalle" error="required" texto="Informe un Nombre."></app-mensajes-validacion>
      </div>
      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Número</label>
        <input pInputText type="text" name="numero"
          [(ngModel)]="persona.direccion.numero" #instNumero="ngModel" required>
        <app-mensajes-validacion [control]="instNumero" error="required" texto="Informe  Número."></app-mensajes-validacion>
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Complemento</label>
        <input pInputText type="text" name="complemento"
          [(ngModel)]="persona.direccion.complemento" #instComplemento="ngModel">
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Municipio</label>
        <input pInputText type="text" name="municipio"
          [(ngModel)]="persona.direccion.municipio" #instMunicipio="ngModel" required>
        <app-mensajes-validacion [control]="instMunicipio" error="required" texto="Informe Municipio."></app-mensajes-validacion>
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>CP</label>
        <p-inputMask mask="99999" name="cp"
          [(ngModel)]="persona.direccion.cp" #instCp="ngModel" required></p-inputMask><!--99.999-999-->
        <app-mensajes-validacion [control]="instCp" error="required" texto="Informe Código Postal."></app-mensajes-validacion>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Ciudad</label>
        <input pInputText type="text" name="ciudad"
          [(ngModel)]="persona.direccion.ciudad" #instCiudad="ngModel" required>
        <app-mensajes-validacion [control]="instCiudad" error="required" texto="Informe Ciudad."></app-mensajes-validacion>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>País</label>
        <input pInputText type="text" name="pais"
          [(ngModel)]="persona.direccion.pais" #instPais="ngModel" required>
        <app-mensajes-validacion [control]="instPais" error="required" texto="Informe País."></app-mensajes-validacion>
      </div>

      <!--23.11. Listando contatos na tela mestre-detalhe-->
      <div class="ui-g-12">
        <p-panel header="Contactos">
          <div class="ui-g">
            <div class="ui-g-12">
              <!--23.12. Criando o diálogo de contato-->
                <button pButton type="button"
                  class="ui-button-secondary"
                  icon="pi pi-plus"
                  label="Nuevo"
                  (click)="prepararNuevoContacto()"></button>
            </div>

            <div class="ui-g-12">
              <p-table [value]="persona.contactos" [responsive]="true">
                <ng-template pTemplate="header">
                  <tr>
                    <th>Nombre</th>
                    <th>E-mail</th>
                    <th>Telefono</th>
                    <th class="col-actions-header"></th>
                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-contacto>
                  <tr>
                    <td>{{ contacto.nombre }}</td>
                    <td>{{ contacto.email }}</td>
                    <td>{{ contacto.telefono }}</td>
                    <td class="col-actions-content">
                      <button pButton icon="pi pi-pencil" type="button"
                        pTooltip="Editar" tooltipPosition="top"></button>

                      <button pButton icon="pi pi-trash" type="button"
                        pTooltip="Excluir" tooltipPosition="top"></button>
                    </td>
                  </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td colspan="4">
                      Ningun contato registrado
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </p-panel>
      </div>


      <div class="ui-g-12">
        <button pButton type="submit"
              label="Guardar"
              [disabled]="!instFormPersona.valid || !authService.tienePermiso('ROLE_CADASTRAR_PESSOA')"></button>

        <button pButton type="button"
        class="ui-button-info"
        label="Nuevo"
        (click)="nuevoPersona(instFormPersona)"></button>

        <a [routerLink]="['/personas']">Volver a Busqueda</a>
      </div>

    </div>
  </form>

  <!--23.12. Criando o diálogo de contato-->
  <p-dialog header="Nuevo Contacto" [(visible)]="mostrandoFormularioContacto" modal="modal"></p-dialog>

</div>
