<div class="container">

    <form autocomplete="off" #instFormPersona="ngForm">

    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Nueva Persona</h1>
      </div>
      <div class="ui-g-12 ui-md-12 ui-fluid">
        <label>Nombre</label>
        <input pInputText type="text" name="nombre"
          ngModel #instNombre="ngModel" required minlength="5">

        <app-mensajes-validacion [control]="instNombre" error="required" texto="Informe un Nombre."></app-mensajes-validacion>
        <app-mensajes-validacion [control]="instNombre" error="minlength" texto="Mínimo de {{instNombre.errors?.minlength?.requiredLength}} caracteres."></app-mensajes-validacion>
      </div>
      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Calle</label>
        <input pInputText type="text" name="calle"
          ngModel #instCalle="ngModel" required>
        <app-mensajes-validacion [control]="instCalle" error="required" texto="Informe un Nombre."></app-mensajes-validacion>
      </div>
      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Número</label>
        <input pInputText type="text" name="numero"
          ngModel #instNumero="ngModel" required>
        <app-mensajes-validacion [control]="instNumero" error="required" texto="Informe  Número."></app-mensajes-validacion>
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Complemento</label>
        <input pInputText type="text" name="complemento"
          ngModel #instComplemento="ngModel">
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Barrio</label>
        <input pInputText type="text" name="barrio"
          ngModel #instBarrio="ngModel" required>
        <app-mensajes-validacion [control]="instBarrio" error="required" texto="Informe Barrio."></app-mensajes-validacion>
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>CP</label>
        <p-inputMask mask="99.999-999" name="cp"
          ngModel #instCp="ngModel" required></p-inputMask>
        <app-mensajes-validacion [control]="instCp" error="required" texto="Informe Código Postal."></app-mensajes-validacion>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Ciudad</label>
        <input pInputText type="text" name="ciudad"
          ngModel #instCiudad="ngModel" required>
        <app-mensajes-validacion [control]="instCiudad" error="required" texto="Informe Ciudad."></app-mensajes-validacion>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Estado</label>
        <input pInputText type="text" name="estado"
          ngModel #instEstado="ngModel" required>
        <app-mensajes-validacion [control]="instEstado" error="required" texto="Informe Estado."></app-mensajes-validacion>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Guardar" [disabled]="!instFormPersona.valid"></button>
        <button pButton type="button" class="ui-button-info" label="Nuevo"></button>
        <a href="javascript:;">Volver a Busqueda</a>
      </div>

    </div>
  </form>

</div>
